/pulumi/sdks/*/build/
/pulumi/sdks/*/*.egg-info
/nixidy/generated/**/*.tmp
/secrets/*
.devenv*
.direnv/
.docker/
.helix/
.pre-commit-config.yaml
.zed/
__pycache__/
devenv.local.nix
node_modules/
result

!/secrets/sops/
