#!/usr/bin/env bash

eval "$(devenv direnvrc)"
# TODO push this fix upstream
# NOTE Overwrite to patch incorrect order of arguments
use_devenv() {
  _nix_direnv_preflight

  export DEVENV_CMDLINE="$*"

  local devenv_cmd=("${DEVENV_BIN}")
  if (( $# > 0 )); then
    devenv_cmd+=("$@")
  fi

  watch_file ".envrc" "$HOME/.direnvrc" "$HOME/.config/direnv/direnvrc"
  watch_file "devenv.nix" "devenv.lock" "devenv.yaml" "devenv.local.nix" "devenv.local.yaml"

  local previous_watches=()
  if [[ -n "${DEVENV_DOTFILE:-}" ]]; then
    _devenv_watches "$DEVENV_DOTFILE/input-paths.txt" previous_watches
  fi
  if [[ ${#previous_watches[@]} -gt 0 ]]; then
    watch_file "${previous_watches[@]}"
  fi

  local env
  if ! env=$("${devenv_cmd[0]}" direnv-export "${devenv_cmd[@]:1}"); then
    log_error "failed to build the devenv environment. see above."
    exit 0
  fi

  _nix_import_env "$env"

  local env_watches=()
  _devenv_watches "$DEVENV_DOTFILE/input-paths.txt" env_watches
  if [[ ${#env_watches[@]} -gt 0 ]]; then
    watch_file "${env_watches[@]}"
  fi
}

use devenv
