layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="edit" {
        pane size="80%" name="hx" command="hx"
        pane size="20%" name="yazi" command="y"
    }
    tab name="git" {
        pane size="100%" name="lazygit" command="lazygit"
    }
    tab name="agent" {
        pane size="100%" name="opencode" command="opencode"
    }
    tab name="term" {
        pane size="100%" name="term"
    }
}
