# Klipper MCU firmware config for Voron 2.4 LDO (BTT Octopus V1.1 / STM32F446)
# Run `make menuconfig` in klipper source to regenerate if needed
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F446=y
CONFIG_CLOCK_FREQ=180000000
CONFIG_STM32_FLASH_START_2000=y
CONFIG_FLASH_SIZE=0x80000
CONFIG_FLASH_APPLICATION_ADDRESS=0x8008000
CONFIG_USB=y
CONFIG_USB_VENDOR_ID=0x1d50
CONFIG_USB_DEVICE_ID=0x614e
CONFIG_USB_SERIAL_NUMBER="12345"
CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_INITIAL_PINS=""
